{% extends 'frontend/base.html' %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block content %}
    <div class="row dashboard">
        <div class="col-md-12">
            <h2>
                {{ "Web Security Dashboard" }}
            </h2>
            <form method="get">
                <input type="hidden" name="configure" value="">
                <div class="form-group">
                    {{ country_form }}
                    <button class="btn btn-primary">{% trans "Submit" %}</button>
                </div>
            </form>
            <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
			<script src="http://code.highcharts.com/highcharts.js"></script>
			<script src="http://code.highcharts.com/highcharts-more.js"></script>

            <script src="http://code.highcharts.com/maps/modules/map.js"></script>
            <script src="http://code.highcharts.com/maps/modules/data.js"></script>
			<script src="http://code.highcharts.com/mapdata/custom/world-highres.js"></script>

            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>

            <div class="col-md-6 panel panel-default" style="padding:0px;height:400px; width:49%; float:left; margin-right: 1%;">
		        <div class="panel panel-info">
					<div class="panel-heading"><h3>Last analysis report generated </h3></div>
					<div class="panel-body"><h4>{{ last_analysis }}</h4></div>
		        </div>
		        <div id="https_container" width="300px" height="230px!important">
					<div class="col-md-7"><canvas id="https" width="300px" height="230px!important"></canvas></div>
					<div class="col-md-5">
						<h4>The remaining results on this page will only consider the sites which support HTTPS unless explicitly stated otherwise.</h4>
			        </div>
	            </div>
            </div>
            <div class="col-md-6 panel-default panel" style="height: 400px; width:49%; float:left; margin-left: 1%;">
				<div class="text-center panel-heading"><h3>SSL/TLS Support</h3></div>
				<div id="container" style="min-width: 310px; height: 330px; margin: 0 auto"></div>
	            <p align="center"></p>
            </div>
            <div class="col-md-12 panel panel-default" style="height: 400px; width:100%; float:left; margin-right: 1%;">
				<div class="text-center panel-heading"><h3>HSTS Checks</h3></div>
				<div id="hsts_container" style="padding: 10px; min-width: 310px; height: 350px; margin: 0 auto">
					<div class="col-md-3" style="border-right: 2px solid #ccc;"><canvas id="valid_hsts" width="400px!important" height="400px"></canvas>
						<h4>Results on right side will only consider sites with valid HSTS. </h4>
					</div>
					<div id="hsts_container_inner"></div>
					<div class="col-md-3"><canvas id="hsts_included" width="400px!important" height="400px"></canvas>
						<h4>Only considering sites ready for HSTS preloading.</h5>
					</div>
				</div>
			</div>
            <div class="col-md-12 panel panel-default" style="height: 430px; width:100%; float:left; margin-right: 1%;">
				<div class="text-center panel-heading"><h3>Protection Against Various Attacks</h3></div>
				<div id="vul_container" style="min-width: 310px; height: 350px; margin: 0 auto">
				</div>
				<p align="center"></p>
			</div>
			<div class="col-md-12 panel panel-default" style="height: 360px; width:100%; float:left; margin-right: 1%;">
				<div class="text-center panel-heading"><h3>Other Checks</h3></div>
				<div id="other_container" style="padding: 30px; min-width: 310px; height: 350px; margin: 0 auto">
				</div>
				<p align="center"></p>
			</div>
			<div class="col-md-12 panel panel-default" style="height: 620px; width:100%; float:left; margin-right: 1%;">
				<div class="text-center panel-heading"><h3>Header Checks</h3></div>
				<h4>This section doesnot consider if the site supports HTTPS or not and only checks for certain security headers.</h4>
				<div id="header_container" style="padding: 30px; min-width: 310px; height: 350px; margin: 0 auto">
				</div>
				<p align="center"></p>
			</div>
			<div class="col-md-12 panel panel-default">
				<div class="text-center panel-heading"><h3>Web Servers Distribution Around The World</h3></div>
			    <div id="map_container"></div>
			</div>
			<script>
				window.onload = function () {
					var container_bar = document.getElementById("container");
                    Highcharts.chart(container_bar, {
                        colors: ['#e00000', '#95c600'],
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: ""
                        },
                        xAxis: {
                            categories: {{ ssl_list.0|safe }},
                            labels: {
				                style: {
				                    fontSize:'15px'
				                }
							}
                        },
                        yAxis:
                        {
                            min: 0,
                            max: 100,
                            tickInterval: 20,
                            title: {
                                text: 'Percentage'
                            },
                            labels: {
				                style: {
				                    fontSize:'15px'
				                }
							}
                        },
                        legend: {
                            reversed: true
                        },
                        plotOptions: {
                            series: {
                                stacking: 'percent'
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        exporting: {
                            enabled: false
                        },
                        tooltip: {
							pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b>({point.percentage:.0f}%)<br/>',
							footerFormat: 'Total: <b>{point.total}</b>',
							shared: true
					    },
                        series: [
                            {
                                name: 'Not supported',
                                data: {{ ssl_list.2|safe }}
                            },
                            // {
                            //     name: 'Neutral',
                            //     data: {{ ssl_list.3|safe }}
                            // },
                            {
                                name: 'Supported',
                                data: {{ ssl_list.1|safe }}
                            }
                        ]
                    });
                    var container_bar = document.getElementById("vul_container");
                    Highcharts.chart(container_bar, {
                        // colors: ['#e00000', '#f8af11', '#95c600'],
                        colors: ['#e00000', '#95c600'],
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: ""
                        },
                        xAxis: {
                            categories: {{ vul_list.0|safe }},
                            labels: {
				                style: {
				                    fontSize:'15px'
				                }
							}
                        },
                        yAxis:
                        {
                            min: 0,
                            max: 100,
                            tickInterval: 20,
                            title: {
                                text: 'Percentage'
                            },
                            labels: {
				                style: {
				                    fontSize:'15px'
				                }
							}
                        },
                        legend: {
                            reversed: true
                        },
                        plotOptions: {
                            series: {
                                stacking: 'percent'
                            }
                        },
                        credits: {
                            enabled: false
                        },
                        exporting: {
                            enabled: false
                        },
                        tooltip: {
							pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.y}</b>({point.percentage:.0f}%)<br/>',
							footerFormat: 'Total: <b>{point.total}</b>',
							shared: true
					    },
                        series: [
                            {
                                name: 'Vulnerable',
                                data: {{ vul_list.2|safe }}
                            },
                            {
                                name: 'Protected',
                                data: {{ vul_list.1|safe }}
                            }
                        ]
                    });

                    Chart.pluginService.register({
					    beforeDraw: function (chart) {
					        var width = chart.chart.width,
					            height = chart.chart.height,
					            ctx = chart.chart.ctx;
					        ctx.restore();
					        var fontSize = (height / 120).toFixed(2);
					        ctx.font = fontSize + "em sans-serif";
					        ctx.textBaseline = "middle";
					        var text = chart.config.options.elements.center.text,
					            textX = Math.round((width - ctx.measureText(text).width) / 2),
					            textY = height / 2.2;
					        ctx.fillText(text, textX, textY);
					        ctx.save();
					    }
					});
                    var ctx = document.getElementById("valid_hsts");
		            var data = {
					  labels: {{valid_hsts.0|safe}},
					  datasets: [
					    {
					      data: {{valid_hsts.1|safe}},
					      backgroundColor: [
					        "#e00000",
						    "#95c600"
					      ],
					      hoverBackgroundColor: [
					        "#e00000",
						    "#95c600"
					      ]
					    }]
					};

					var chart = new Chart(ctx, {
					  type: 'doughnut',
					  data: data,
					  options: {
						responsive: true,
						elements: {
				            center: {
				                text: {{ valid_hsts.2|safe }} + '%'
				            }
				        },
				        tooltips: {
							callbacks: {
				        		title: function(tooltipItem, data) {
									return data['labels'][tooltipItem[0]['index']];
						        },
						        // label: function(tooltipItem, data) {
						        // 	var value = data.datasets[0].data[tooltipItem.index];
						        // 	return " " + value + " %";
						        // }
						        label: function(tooltipItem, data) {
							      //get the concerned dataset
							      var dataset = data.datasets[tooltipItem.datasetIndex];
							      //calculate the total of this data set
							      var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
							        return previousValue + currentValue;
							      });
							      //get the current items value
							      var currentValue = dataset.data[tooltipItem.index];
							      //calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
							      var percentage = 	(((currentValue/total) * 100)).toFixed(1) ;
							      var value = data.datasets[0].data[tooltipItem.index];

							      return " " +  percentage + " % (" + value + " sites)";
							    }
						      },
				        },
					    legend: {
					      display: false
					    },
					    title: {
							display: true,
							position: "bottom",
							fontSize: 14,
							text: "Valid HSTS"
					    }
					  }
					});

                    var container = document.getElementById("hsts_container_inner");
	                {% for group, val in hsts_groups.items %}
						{% if group == 'Valid Strict-Transport-Security (HSTS)' %}
							container.innerHTML += '<div class="col-md-3" style="border-right: 2px solid #ccc;"><canvas id="{{ group }}" width="400px!important" height="400px"></canvas></div>';
						{% else %}
							container.innerHTML += '<div class="col-md-3"><canvas id="{{ group }}" width="400px!important" height="400px"></canvas></div>';
						{% endif %}
	                {% endfor %}
	                {% for group, val in hsts_groups.items %}
		                var ctx = document.getElementById("{{ group }}");
			            var data = {
						  labels: {{val.0|safe}},
						  datasets: [
						    {
						      data: {{val.1|safe}},
						      backgroundColor: [
						        "#e00000",
						        "#95c600"
						      ],
						      hoverBackgroundColor: [
								"#e00000",
						        "#95c600"						      ]
						    }]
						};

						var chart = new Chart(ctx, {
							type: 'doughnut',
							data: data,
							options: {
								responsive: true,
								elements: {
							    center: {
							        text: {{ val.2|safe }} + '%'
								    }
								},
								tooltips: {
									callbacks: {
										title: function(tooltipItem, data) {
											return data['labels'][tooltipItem[0]['index']];
								        },
										label: function(tooltipItem, data) {
							      //get the concerned dataset
							      var dataset = data.datasets[tooltipItem.datasetIndex];
							      //calculate the total of this data set
							      var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
							        return previousValue + currentValue;
							      });
							      //get the current items value
							      var currentValue = dataset.data[tooltipItem.index];
							      //calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
							      var percentage = 	(((currentValue/total) * 100)).toFixed(1) ;
							      var value = data.datasets[0].data[tooltipItem.index];

							      return " " +  percentage + " % (" + value + " sites)";
							    }
								    },
								},
								legend: {
								  display: false
								},
								title: {
									display: true,
									position: "bottom",
									fontSize: 14,
									text: "{{ group|safe }}"
								}
							}
						});
					{% endfor %}

                    var ctx = document.getElementById("hsts_included");
		            var data = {
					  labels: {{hsts_included_data.0|safe}},
					  datasets: [
					    {
					      data: {{hsts_included_data.1|safe}},
					      backgroundColor: [
					        "#e00000",
						    "#95c600"
					      ],
					      hoverBackgroundColor: [
					        "#e00000",
						    "#95c600"
					      ]
					    }]
					};

					var chart = new Chart(ctx, {
					  type: 'doughnut',
					  data: data,
					  options: {
						responsive: true,
						elements: {
				            center: {
				                text: {{ hsts_included_data.2|safe }} + '%'
				            }
				        },
				        tooltips: {
							callbacks: {
				        		title: function(tooltipItem, data) {
									return data['labels'][tooltipItem[0]['index']];
						        },
						        // label: function(tooltipItem, data) {
						        // 	var value = data.datasets[0].data[tooltipItem.index];
						        // 	return " " + value + " %";
						        // }
						        label: function(tooltipItem, data) {
							      //get the concerned dataset
							      var dataset = data.datasets[tooltipItem.datasetIndex];
							      //calculate the total of this data set
							      var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
							        return previousValue + currentValue;
							      });
							      //get the current items value
							      var currentValue = dataset.data[tooltipItem.index];
							      //calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
							      var percentage = 	(((currentValue/total) * 100)).toFixed(1) ;
							      var value = data.datasets[0].data[tooltipItem.index];

							      return " " +  percentage + " % (" + value + " sites)";
							    }
						      },
				        },
					    legend: {
					      display: false
					    },
					    title: {
							display: true,
							position: "bottom",
							fontSize: 14,
							text: "Included in Chrome HSTS preload list"
					    }
					  }
					});
					var container = document.getElementById("other_container");
					{% for group, val in other_checks.items %}
						container.innerHTML += '<div class="col-md-3"><canvas id="{{ group }}" width="400px!important" height="400px"></canvas></div>';
	                {% endfor %}
	                {% for group, val in other_checks.items %}
		                var ctx = document.getElementById("{{ group }}");
			            var data = {
						  labels: {{val.0|safe}},
						  datasets: [
						    {
						      data: {{val.1|safe}},
						      backgroundColor: [
						        "#e00000",
						        "#95c600"
						      ],
						      hoverBackgroundColor: [
						        "#e00000",
						        "#95c600"
						      ]
						    }]
						};

						var chart = new Chart(ctx, {
						  type: 'doughnut',
						  data: data,
						  options: {
							responsive: true,
							elements: {
					            center: {
					                text: {{ val.2|safe }} + '%'
					            }
					        },
					        tooltips: {
								callbacks: {
					        		title: function(tooltipItem, data) {
										return data['labels'][tooltipItem[0]['index']];
							        },
									label: function(tooltipItem, data) {
										//get the concerned dataset
										var dataset = data.datasets[tooltipItem.datasetIndex];
										//calculate the total of this data set
										var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
										return previousValue + currentValue;
										});
										//get the current items value
										var currentValue = dataset.data[tooltipItem.index];
										//calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
										var percentage = 	(((currentValue/total) * 100)).toFixed(1) ;
										var value = data.datasets[0].data[tooltipItem.index];

										return " " +  percentage + " % (" + value + " sites)";
									}
								},
							},
						    legend: {
						      display: false
						    },
						    title: {
								display: true,
								position: "bottom",
								fontSize: 14,
								text: "{{ group|safe }}"
						    }
						  }
						});
					{% endfor %}
					var container = document.getElementById("header_container");
					{% for group, val in security_groups.items %}
						container.innerHTML += '<div class="col-md-3"><canvas id="{{ group }}" width="400px!important" height="400px"></canvas></div>';
	                {% endfor %}
	                {% for group, val in security_groups.items %}
		                var ctx = document.getElementById("{{ group }}");
			            var data = {
						  labels: {{val.0|safe}},
						  datasets: [
						    {
						      data: {{val.1|safe}},
						      backgroundColor: [
						        "#e00000",
						        "#95c600"
						      ],
						      hoverBackgroundColor: [
						        "#e00000",
						        "#95c600"
						      ]
						    }]
						};

						var chart = new Chart(ctx, {
						  type: 'doughnut',
						  data: data,
						  options: {
							responsive: true,
							elements: {
					            center: {
					                text: {{ val.2|safe }} + '%'
					            }
					        },
					        tooltips: {
								callbacks: {
					        		title: function(tooltipItem, data) {
										return data['labels'][tooltipItem[0]['index']];
							        },
									label: function(tooltipItem, data) {
										//get the concerned dataset
										var dataset = data.datasets[tooltipItem.datasetIndex];
										//calculate the total of this data set
										var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
										return previousValue + currentValue;
										});
										//get the current items value
										var currentValue = dataset.data[tooltipItem.index];
										//calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
										var percentage = 	(((currentValue/total) * 100)).toFixed(1) ;
										var value = data.datasets[0].data[tooltipItem.index];

										return " " +  percentage + " % (" + value + " sites)";
									}
								},
							},
						    legend: {
						      display: false
						    },
						    title: {
								display: true,
								position: "bottom",
								fontSize: 14,
								text: "{{ group|safe }}"
						    }
						  }
						});
					{% endfor %}
					var ctx = document.getElementById("https");
		            var data = {
					  labels: {{https_data.0|safe}},
					  datasets: [
					    {
					      data: {{https_data.1|safe}},
					      backgroundColor: [
					        "#e00000",
						    "#95c600"
					      ],
					      hoverBackgroundColor: [
					        "#e00000",
						    "#95c600"
					      ]
					    }]
					};

					var chart = new Chart(ctx, {
					  type: 'doughnut',
					  data: data,
					  options: {
						responsive: true,
						elements: {
				            center: {
				                text: {{ https_data.2|safe }} + '%'
				            }
				        },
				        tooltips: {
							callbacks: {
				        		title: function(tooltipItem, data) {
									return data['labels'][tooltipItem[0]['index']];
						        },
						        // label: function(tooltipItem, data) {
						        // 	var value = data.datasets[0].data[tooltipItem.index];
						        // 	return " " + value + " %";
						        // }
						        label: function(tooltipItem, data) {
							      //get the concerned dataset
							      var dataset = data.datasets[tooltipItem.datasetIndex];
							      //calculate the total of this data set
							      var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
							        return previousValue + currentValue;
							      });
							      //get the current items value
							      var currentValue = dataset.data[tooltipItem.index];
							      //calculate the precentage based on the total and current item, also this does a rough rounding to give a whole number
							      var percentage = 	(((currentValue/total) * 100)).toFixed(1) ;
							      var value = data.datasets[0].data[tooltipItem.index];

							      return " " +  percentage + " % (" + value + " sites)";
							    }
						      },
				        },
					    legend: {
					      display: false
					    },
					    title: {
							display: true,
							position: "bottom",
							fontSize: 14,
							text: "HTTPS"
					    }
					  }
					});

					var ctx = document.getElementById("map_container");
					var data = {{ country_json|safe }};
					Highcharts.mapChart(ctx, {
				        chart: {
				            // borderWidth: 1,
				            borderColor: '#e5e5e5',
				            map: 'custom/world-highres'
				        },
				        title: {
				            text: ''
				        },
				        subtitle: {
				            text: ''
				        },
				        mapNavigation: {
				            enabled: true,
				            buttonOptions: {
				                verticalAlign: 'bottom'
				            }
				        },
				        credits: {
                            enabled: false
                        },
                        legend: {
							display: true
                        },
				        series: [{
				            name: 'Countries',
				            color: '#E0E0E0',
				            enableMouseTracking: false
				        }, {
				            type: 'mapbubble',
				            name: 'Percentage of servers',
				            joinBy: ['iso-a2', 'code'],
				            data: data,
				            color: '#95c600',
				            minSize: 4,
				            maxSize: '12%',
				            tooltip: {
				                pointFormat: '{point.country}: {point.z}%'
				            }
				        }]
				    });
                }
            </script>
        </div>
    </div>
{% endblock %}